type cedar_device, dev_type;
type disp_device, dev_type;
type sunxi_soc_info_device, dev_type;
type sst_storage_device, dev_type, fs_type;
type deinterlace_device, dev_type;
type qw_daemon_device, dev_type;
type googlevp9_device, dev_type;