#define fuseblk for ntfs and exfat
type fuseblk, sdcard_type, fs_type, mlstrustedobject;
type log_bg_file, file_type;
type bluray, sdcard_type, fs_type, mlstrustedobject;
type cifs, fs_type, sdcard_type, mlstrustedobject;
type nfs, fs_type, sdcard_type, mlstrustedobject;
type displayd_socket_device, file_type;
