#============= keystore ==============
allow keystore zygote:dir search;
allow keystore zygote:file { read open };
allow keystore zygote:process getattr;
