type log_bg, domain;
type log_bg_exec, exec_type, file_type;
init_daemon_domain(log_bg);

allow log_bg self:capability sys_admin;
allow log_bg self:capability2 syslog;
allow log_bg kernel:system { syslog_mod };
allow log_bg kernel:process { sigkill signull };
allow log_bg proc:file {r_file_perms};
allow log_bg shell_exec:file entrypoint;
allow log_bg logcat_exec:file rx_file_perms;
allow log_bg toolbox_exec:file execute;
allow log_bg toolbox_exec:file rx_file_perms;
allow log_bg system_data_file:dir { read open getattr };
allow log_bg system_data_file:file {read open getattr };
allow log_bg system_app_data_file:dir { search };
allow log_bg system_app_data_file:file { read write open getattr };
allow log_bg anr_data_file:file create_file_perms;
allow log_bg anr_data_file:dir create_dir_perms;
allow log_bg app_data_file:dir { search write add_name getattr };
allow log_bg app_data_file:file { create open  getattr setattr read write };
allow log_bg rootfs:file { execute execute_no_trans };
allow log_bg system_app:dir { getattr search };
allow log_bg system_app:file { open read };
allow log_bg logdr_socket:sock_file { write };
allow log_bg logd:unix_stream_socket { connectto };
allow log_bg property_socket:sock_file { write };
allow log_bg shell_exec:file { getattr read execute open execute_no_trans };
allow log_bg log_bg_file:dir { getattr search read write open add_name remove_name };
allow log_bg log_bg_file:file { read write create open append getattr unlink };
allow log_bg sysfs:file { write };
allow log_bg init:unix_stream_socket connectto;
allow log_bg system_file:file { execute_no_trans };
allow log_bg fuse:dir { search write add_name };
allow log_bg fuse:file { create write open };
allow log_bg proc:file read;
allow log_bg ctl_default_prop:property_service set;
