#============= mediaserver ==============
allow mediaserver cedar_device:chr_file rw_file_perms;
allow mediaserver softwinner_service:service_manager find;
allow mediaserver vold:binder call;
allow mediaserver bluray:dir r_dir_perms;
allow mediaserver bluray:file r_file_perms;
allow mediaserver bootanim:binder { transfer call };
allow mediaserver system_data_file:file open;
allow mediaserver media_prop:property_service set;
allow mediaserver storage_file:dir search;
allow mediaserver system_app_data_file:file rw_file_perms;
allow mediaserver deinterlace_device:chr_file rw_file_perms;
allow mediaserver appdomain:dir r_dir_perms;
allow mediaserver appdomain:file r_file_perms;
allow mediaserver displayd:unix_stream_socket connectto;
allow mediaserver { socket_device displayd_socket_device }:sock_file write;
allow mediaserver googlevp9_device:chr_file rw_file_perms;
allow mediaserver tee_device:chr_file rw_file_perms;
allow mediaserver sunxi_soc_info_device:chr_file r_file_perms;
