allow recovery vfat:dir r_dir_perms;
allow recovery vfat:file r_file_perms;
allow recovery vfat:dir search;
allow recovery cache_file:lnk_file create;
allow recovery cache_file:lnk_file unlink;
allow recovery media_rw_data_file:file r_file_perms;
allow recovery media_rw_data_file:dir search;
allow recovery rootfs:dir add_name;
allow recovery rootfs:dir create;
allow recovery rootfs:dir write;
allow recovery sunxi_soc_info_device:chr_file read;
allow recovery sunxi_soc_info_device:chr_file write;
allow recovery sunxi_soc_info_device:chr_file open;
allow recovery sunxi_soc_info_device:chr_file ioctl;
allow recovery proc_drop_caches:file rw_file_perms;
allow recovery fuseblk:dir search;
allow recovery fuseblk:file rw_file_perms;
allow recovery rootfs:lnk_file create;
allow recovery media_rw_data_file:dir read;
allow recovery media_rw_data_file:dir open;
allow recovery device:dir write;
allow recovery block_device:blk_file mounton;
allow recovery vfat:dir mounton;
allow recovery device:dir add_name;
allow recovery log_device:dir write;
