#============= zygote ==============
allow zygote installd_socket:sock_file write;
allow zygote installd:unix_stream_socket connectto;
allow zygote init:unix_stream_socket connectto;
allow zygote init:sock_file write;
allow zygote property_socket:sock_file write;
allow zygote servicemanager:binder call;
allow zygote alarm_device:chr_file write;
allow zygote anr_data_file:dir { write remove_name add_name };
allow zygote anr_data_file:file { setattr read create write getattr unlink open append };
allow zygote apk_data_file:dir { setattr read create write relabelfrom remove_name relabelto open add_name };
allow zygote apk_data_file:file { relabelto  };
allow zygote apk_private_data_file:dir { read open };
allow zygote apk_tmp_file:dir { rename setattr read create write relabelfrom getattr relabelto remove_name open add_name };
allow zygote apk_tmp_file:file { rename setattr read create write relabelfrom getattr open };
allow zygote ashmem_device:chr_file execute;
allow zygote audio_device:dir { read open };
allow zygote console_device:chr_file { read write };
allow zygote ctl_default_prop:property_service set;
allow zygote debug_prop:property_service set;
allow zygote debuggerd:dir { read search open };
allow zygote debuggerd:file { read getattr open };
allow zygote device:dir read;
allow zygote dhcp_prop:property_service set;
allow zygote dnsproxyd_socket:sock_file write;
allow zygote drmserver:binder call;
allow zygote drmserver:dir search;
allow zygote drmserver:file { read open };
allow zygote fscklogs:dir { write remove_name };
allow zygote fscklogs:file { read getattr unlink open };
allow zygote fuse:dir { write search read create open add_name };
allow zygote fuse:file { write getattr read lock create open };
allow zygote gatekeeperd:dir { read search open };
allow zygote gatekeeperd:file { read getattr open };
allow zygote gpu_device:chr_file { read write getattr open ioctl };
allow zygote healthd:binder { transfer call };
allow zygote healthd:dir { read search open };
allow zygote healthd:file { read getattr open };
allow zygote init:dir { read search open };
allow zygote init:file { read getattr open };
allow zygote input_device:chr_file { read write ioctl open };
allow zygote input_device:dir { read open };
allow zygote installd:dir search;
allow zygote installd:file { read open };
allow zygote kernel:dir { read search open };
allow zygote kernel:file { read getattr open };
allow zygote keystore:binder call;
allow zygote keystore:dir search;
allow zygote keystore:file { read open };
allow zygote lmkd:dir search;
allow zygote lmkd:file { read getattr open };
allow zygote lmkd:unix_stream_socket connectto;
allow zygote lmkd_socket:sock_file write;
allow zygote logd:dir { read search open };
allow zygote logd:file { read getattr open };
allow zygote mdns_socket:sock_file write;
allow zygote mediaserver:binder { transfer call };
allow zygote mediaserver:dir search;
allow zygote mediaserver:fd use;
allow zygote mediaserver:file { read open };
allow zygote mtp_device:chr_file { read write ioctl open };
allow zygote netd:dir search;
allow zygote netd:file { read open };
allow zygote netd:unix_stream_socket connectto;
allow zygote netd_socket:sock_file write;
allow zygote node:tcp_socket node_bind;
allow zygote pstorefs:dir search;
allow zygote qtaguid_proc:file { write open };
allow zygote radio_prop:property_service set;
allow zygote rild:dir search;
allow zygote rild_socket:sock_file write;
allow zygote safemode_prop:file { read getattr open };
allow zygote sdcardd:dir search;
allow zygote sdcardd:file { read getattr open };
allow zygote self:binder { transfer call };
allow zygote self:capability { net_admin sys_time sys_resource kill };
allow zygote self:capability2 block_suspend;
allow zygote self:netlink_kobject_uevent_socket { read bind create setopt };
allow zygote self:netlink_route_socket { write bind create read nlmsg_read };
allow zygote self:process { execmem ptrace };
allow zygote self:tcp_socket { bind create setopt listen };
allow zygote self:udp_socket create;
allow zygote servicemanager:binder transfer;
allow zygote servicemanager:dir search;
allow zygote shared_relro_file:dir { write remove_name add_name };
allow zygote shared_relro_file:file { rename write getattr setattr read create open };
allow zygote shell_data_file:file { read getattr };
allow zygote storage_file:dir getattr;
allow zygote surfaceflinger:binder { transfer call };
allow zygote surfaceflinger:dir search;
allow zygote surfaceflinger:fd use;
allow zygote surfaceflinger:file { read open };
allow zygote surfaceflinger:unix_stream_socket { read write };
allow zygote sysfs_zram:dir search;
allow zygote sysfs_zram:file { read open };
allow zygote system_prop:property_service set;
allow zygote tombstone_data_file:dir { read open };
allow zygote toolbox_exec:file { read execute open execute_no_trans };
allow zygote ueventd:dir { read search open };
allow zygote ueventd:file { read getattr open };
allow zygote usb_device:chr_file { read write ioctl open };
allow zygote usb_device:dir { read open };
allow zygote usbaccessory_device:chr_file { read write ioctl open };
allow zygote vold:dir { read search open };
allow zygote vold:file { read getattr open };
allow zygote vold:unix_stream_socket connectto;
allow zygote vold_socket:sock_file write;
allow zygote zygote_tmpfs:file execute;

