service surfaceflinger /system/bin/surfaceflinger
    class core
    user system
    socket hwcsocket stream 0666 system system
    group graphics drmrpc readproc
    onrestart restart zygote
    writepid /sys/fs/cgroup/stune/foreground/tasks
