;-------------------------------------------------------------------------------
; ÓÃÓÚcameraµÄÅäÖÃ
;
; ²ÉÓÃ¸ñÊ½:
; key = key_value
; ×¢Òâ: Ã¿¸ökeyÐèÒª¶¥¸ñÐ´;
;       key_value½ô¸ú×ÅkeyºóÃæµÄµÈºÅºóÃæ, Î»ÓÚÍ¬Ò»ÐÐÖÐ;
;       key_valueÏÞÖÆ´óÐ¡Îª8192×Ö½ÚÒÔÄÚ;
;
;-------------------------------------------------------------------------------

;-------------------------------------------------------------------------------
;
;-------------------------------------------------------------------------------
key_camera_list = 'HD Pro Webcam C920'，'Logitech Webcam C930e'，'Microsoft® LifeCam Studio(TM)'，'HD<720P> Web-Cam'，'Microsoft® LifeCam HD-3000',  'USB 2.0 Camera'